@media screen and (max-width: 650px) {
  .mdc-permanent-drawer {
    width: 140px;
  }
}

/* Global */

body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.left {
  float: left;
  margin-right: 8px;
}

.right {
  float: right;
  margin-left: 8px;
}

/* Header */

.mdc-permanent-drawer__toolbar-spacer {
  border-bottom: 0;
}

.mdc-toolbar__section .logout-button {
  color: #fff;
}

/* Content */

.app-fab--absolute {
  right: 1rem;
  bottom: 1rem;
  position: fixed;
}

.item-catalog {
  box-sizing: border-box;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
}

.item-catalog .item-list {
  width: 100%;
}

.item-catalog .mdc-permanent-drawer__content {
  margin: 0 auto;
  max-width: 1000px;
}

.item-container {
  background-color: #e0e0e0;
  height: 200px;
  margin: 0 auto;
  margin-top: 24px;
  padding: 16px;
  width: 600px;

}

.item-container .mdc-fab {
  margin: 0 4px 0 4px;
}

.item-container .mdc-layout-grid {
  background-color: #e0e0e0;
  max-width: 600px;
}

.mdc-card:hover {
  box-shadow: none;
}

.mdc-card__primary .mdc-card__title, .mdc-card__subtitle {
  color: #fff;
}

/* Forms */

.form-actions {
  margin-top: 24px;
}

.item-form {
  height: 400px;
}
.mdc-select {
  background-color: inherit;
}

.return-link {
  color: blue;
}
