@media screen and (max-width: 650px) {
  .mdc-permanent-drawer {
    width: 140px;
  }
}

/* Global */

body,
html {
  height: 100%;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

:root {
  --mdc-theme-primary: #ff9800;
  --mdc-theme-primary-light: #ffb74d;
  --mdc-theme-primary-dark: #f57c00;
  --mdc-theme-secondary: #448aff;
}

.clearfix::after {
  clear: both;
  content: "";
  display: table;
}

.left {
  float: left;
  margin-right: 8px;
}

.right {
  float: right;
  margin-left: 8px;
}

/* Header */

.mdc-permanent-drawer__toolbar-spacer {
  border-bottom: 0;
}

/* Content */

.app-fab--absolute {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.item-catalog {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
}

.item-container {
  margin: 0 auto;
  width: 600px;
  margin-top: 24px;
  padding: 16px;
  background-color: #e0e0e0;
  height: 200px;
}

.item-container .mdc-layout-grid {
  background-color: #e0e0e0;
  max-width: 600px;
}

.item-container .mdc-fab {
  margin: 0 4px 0 4px;
}

.mdc-card__primary .mdc-card__title, .mdc-card__subtitle {
  color: #fff;
}

/* Forms */

.form-actions {
  margin-top: 24px;
}

.item-form {
  height: 400px;
}
.mdc-select {
  background-color: inherit;
}

.return-link {
  color: blue;
}
