a {
  text-decoration: none;
}

.item-catalog .mdl-card__title {
  background-color: #82B1FF;
  height: 60px;
}

.item-catalog .mdl-card__supporting-text {
  height: 60px;
}

.item-catalog .mdl-card__actions {
  height: 50px;
}
