{% extends "main.html" %}
{% block content %}
<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <a href="{{url_for('showCatalog')}}">
      <span class="mdl-layout-title">Item Catalog</span>
    </a>
    <div class="mdl-layout-spacer">
    </div>
    {% if public %}
      <a href="{{url_for('showLogin')}}">Login</a>
    {% else %}
      <a href="{{url_for('gdisconnect')}}">Logout</a>
    {% endif %}
  </div>
</header>
<main class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <h3>Categories</h3>

      {% for category in categories %}

        <a href="{{url_for('showCategory', category_name=category.name)}}">
          <p>{{ category.name }}</p>
        </a>

      {% endfor %}
    </div>

    <div class="mdl-cell mdl-cell--10-col items">

      <h3>{{ list_title }}</h3>

      {% if not items %}
        <p>There are no items in this category</p>
      {% endif %}

      {% for item in items %}

        <a href="{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}">
          <p>{{ item.name }}</p>
        </a>

      {% endfor %}

    </div>
    {% if not public %}
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp add" onclick="location.href='{{url_for('newItem')}}'">
        <i class="material-icons">add</i>
    {% endif %}
  </div>
</main>

{% endblock %}
