{% extends "main.html" %}
{% block content %}
{% if public %}
  {% include "public_header.html" %}
{% else %}
  {% include "header.html" %}
{% endif %}

<div class="mdl-layout__content">
  <div class="mdl-grid">
    <div class="mdl-cell mdl-cell--2-col">
      <h3>Categories</h3>

      {% for category in categories %}

        <a href="{{url_for('showCategory', category_name=category.name)}}">
          <p>{{ category.name }}</p>
        </a>

      {% endfor %}
    </div>

    <div class="mdl-cell mdl-cell--10-col items">

      <h3>{{ list_title }}</h3>

      {% if not items %}
        <p>There are no items in this category</p>
      {% endif %}

      {% for item in items %}

        <a href="{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}">
          <p>{{ item.name }}</p>
        </a>

      {% endfor %}

    </div>
    {% if not public %}
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" onclick="location.href='{{url_for('newItem')}}'">
        <i class="material-icons">add</i>
    {% endif %}
  </div>
</div>

{% endblock %}
