{% extends "main.html" %}
{% block content %}
  {% include "header.html" %}
  <!-- Form for deleting items -->
  <main class="item-container mdc-elevation--z4">
    <h3 class="mdc-typography--title">Delete {{ item.name }}</h3>
    <p class="mdc-typography-body2">Are you sure you want to delete {{ item.name }}?</p>
    <form action="{{url_for('deleteItem', category_name=item.category_name, item_name=item.name)}}" method="post">
        <div class="form-actions">
          <button class="mdc-button">
            <input class="mdc-button" type="submit" value="Delete">
          </button>
          <button class="mdc-button" type="button" onclick="location.href='{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}'">Cancel</button>
        </div>
    </form>
{% endblock %}
