{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<h3>Edit {{ item.name }}</h3>
<form action="{{url_for('editItem', category_name=item.category_name, item_name=item.name)}}" method="post">
  <div>
    <p><label for="name">Name:</label></p>
    <input type="text" size="30" name="name" placeholder="{{ item.name }}">
  </div>
  <div>
    <p><label for="description">Description:</label></p>
    <textarea name="description" rows="6" cols="80" placeholder="{{ item.description }}"></textarea>
  </div>
  <div>
    <select name="category">
      {% for category in categories %}
        <option value="{{category.name}}">{{category.name}}</option>
      {% endfor %}
    </select>
  </div>
  <p>
    <input type="submit" value="Edit">
    <a href="{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}">Cancel</a>
  </p>
</form>

{% endblock %}
