{% extends "main.html" %}
{% block content %}
  {% include "header.html" %}
  <!-- Form for editing items -->
  <main class="item-container item-form mdc-elevation--z4">
    <h3 class="mdc-typography--title">Edit {{ item.name }}</h3>
    <form action="{{url_for('editItem', category_name=item.category_name, item_name=item.name)}}" method="post">
      <!-- Item name -->
      <label for="name">Name:</label>
      <div class="mdc-textfield">
        <input type="text" name="name" class="mdc-textfield__input" value="{{item.name}}" required minlength=1>
      </div>
      <!-- Item description -->
      <section class="description">
        <label for="description">Description:</label>
        <div class="mdc-textfield mdc-textfield--multiline">
          <textarea class="mdc-textfield__input" name="description" rows="6" cols="80" placeholder="{{item.description}}" required minlength=1></textarea>
        </div>
      </section>
      <!-- Item category -->
      <select name="category" class="mdc-select">
        {% for category in categories %}
          <option value="{{category.name}}">{{category.name}}</option>
        {% endfor %}
      </select>
      <!-- Action buttons -->
      <div class="form-actions">
        <button class="mdc-button">
          <input class="mdc-button" type="submit" value="Edit">
        </button>
        <button class="mdc-button" type="button" onclick="location.href='{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}'">Cancel</button>
      </div>
    </form>
  </main>
{% endblock %}
