<!-- Page Header -->
<header class="mdc-toolbar mdc-toolbar--fixed mdc-theme-primary">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="{{url_for('showCatalog')}}">
        <span class="mdc-toolbar__title">Item Catalog</span>
      </a>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <!-- Login button -->
      {% if public %}
        <button class="signin-button" onclick="toggleProgress()">
          {% include "sign_in_button.html" %}
        </button>
      {% else %}
        <button class="mdc-button logout-button" onclick="location.href='{{url_for('gdisconnect')}}'">Sign Out</button>
      {% endif %}
    </section>
  </div>
  <!-- Progress bar for login -->
  <figure id="progress-bar">
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
      </div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
        <span class="mdc-linear-progress__bar-inner"></span>
      </div>
    </div>
  </figure>
</header>
