<!-- Page Header -->
<header class="mdc-toolbar mdc-toolbar--fixed mdc-theme-primary">
  <div class="mdc-toolbar__row">
    <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
      <a href="{{url_for('showCatalog')}}">
        <span class="mdc-toolbar__title">Item Catalog</span>
      </a>
    </section>
    <section class="mdc-toolbar__section mdc-toolbar__section--align-end">
      <!-- Login button -->
      {% if public %}
        {% include "sign_in_button.html" %}
      {% else %}
        <button class="mdc-button" onclick="location.href='{{url_for('gdisconnect')}}'">Logout</button>
      {% endif %}
    </section>
  </div>
</header>
