{% extends "main.html" %}
{% block content %}
  {% include "header.html" %}
  <!-- Permanent navigation drawer -->
  <nav class="mdc-permanent-drawer">
    <div class="mdc-permanent-drawer__toolbar-spacer"></div>
    <div class="mdc-list-group">
      <!-- Display categories from database -->
      <nav class="mdc-list">
        {% if list_title == "Latest" %}
          <a href="{{url_for('showCatalog')}}" class="mdc-list-item mdc-permanent-drawer--selected">
        {% else %}
          <a href="{{url_for('showCatalog')}}" class="mdc-list-item">
        {% endif %}
          <span>Latest</span>
        </a>
        {% for category in categories %}
          {% if list_title == category.name %}
            <a href="{{url_for('showCategory', category_name=category.name)}}" class="mdc-list-item mdc-permanent-drawer--selected">
          {% else %}
            <a href="{{url_for('showCategory', category_name=category.name)}}" class="mdc-list-item">
          {% endif %}
            <span>{{ category.name }}</span>
          </a>
        {% endfor %}
      </nav>
    </div>
  </nav>
  <!-- Main content -->
  <main class="mdc-permanent-drawer__content mdc-theme--primary">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <h2 class="mdc-typography--display2 mdc-layout-grid__cell mdc-layout-grid__cell--span-12">{{ list_title }}</h2>
        {% if not items %}
          <h3 class="mdc-typography--body2 mdc-layout-grid__cell mdc-layout-grid__cell--span-12">There are no items in this category</h3>
        {% endif %}
        <!-- Display items from database -->
        {% for item in items %}
          <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">
            <div class="mdc-card">
              <section class="mdc-card__primary mdc-theme--primary-dark-bg">
                <a href="{{url_for('showItem', category_name=item.category_name, item_name=item.name)}}">
                  <h3 class="mdc-card__title mdc-card__title--large mdc-typography--title">{{ item.name }}</h3>
                </a>
                <h4 class="mdc-card__subtitle mdc-typography--subheading1">{{ item.category_name }}</h4>
              </section>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!-- New item button -->
    {% if not public %}
      <button class="mdc-fab app-fab--absolute material-icons" onclick="location.href='{{url_for('newItem')}}'">
        <span class="mdc-fab__icon">add</span>
      </button>
    {% endif %}
  </main>
{% endblock %}
