{% extends "main.html" %}
{% block content %}
  {% include "header.html" %}
  <!-- Item information page -->
  <main class="item-container mdc-elevation--z4">
    <article class="item left">
      <h3 class="mdc-typography--title">{{ item.name }}</h3>
      <p class="mdc-typography--body1">{{ item.description }}</p>
    </article>
    <!-- Only allow the creator of this item to edit or delete it -->
    {% if creator %}
      <section class="item-actions right">
        <button class="mdc-fab mdc-fab--mini material-icons" onclick="location.href='{{url_for('editItem', category_name=item.category_name, item_name=item.name)}}'">edit</button>
        <button class="mdc-fab mdc-fab--mini material-icons" onclick="location.href='{{url_for('deleteItem', category_name=item.category_name, item_name=item.name)}}'">delete</button>
      </section>
    {% endif %}
  </main>
{% endblock %}
